.editableSpanContainer {
    margin-bottom: 16px;
    margin-left: 70px;
    margin-top: 30px;
    /* другие стили */
}

.buttonsContainer {
    display: flex;
    gap: 8px;
    margin-left: 70px;
    margin-top: 24px;
    margin-bottom: 240px;
    /* другие стили */
}



